




@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Irish+Grover&display=swap');

body
{background: linear-gradient(93deg, #1C1B25 2.34%, #253C50 97.15%);
color:#fff;
font-family: "Irish Grover";
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
align-items: flex-start;
justify-content: center;
position: relative;
margin: 20px;
overflow: hidden;
}

h1{
	font-family: "Indie Flower";
	font-size: 50;
	text-align: center;
	width: 140px;
	line-height: 1;
	font-weight: normal;

}


p{
	width: 250px;
	font-size: 15px;
}



h4{
	font-size: 26px;
	font-weight: normal;
}




.menu{
	position: absolute;
	left: 0;top: 0;
	width: 40px;
	aspect-ratio: 1.6/1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu span{
	width: 100%;
	height: 3px;
	background: #fff;
	display: block;
}

.preview{
	position: absolute;
	right: -5%;top: 6%;
}

.gallery{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 20%;
	
}


.gallery ul{
	display: flex;
	padding: 0;
	margin: 0;
}

.content{
	padding-top: 20%;
}